* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background: url('/assets/window.jpg');
    display: flex;
}
header{
    display: flex;
}

.boss img{
    position: relative;
    width: 150px;
    height: auto;
    margin: 110px 25px 0px 15px;
    border: 1px solid #aeba0d;
    border-radius: 15px;
    box-shadow: 10px 8px rgba(0, 0, 0, 0.7);
    

    
}

.active img{
    box-shadow: 10px 8px rgba(225, 7, 207, 0.7);
}




.level_1{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    width: 100px;
    height: 20px;
    opacity: 0.8;
    background: #461111;
    margin: 300px 10px 10px 10px;
}
.level_2{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    width: 100px;
    height: 20px;
    opacity: 0.8;
    background: #461111;
    margin: 10px 10px 10px 10px;
}
.level_3{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    width: 100px;
    height: 20px;
    opacity: 0.8;
    background: #461111;
    margin: 10px 10px 10px 10px;
}
.level_4{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    width: 100px;
    height: 20px;
    opacity: 0.8;
    background: #461111;
    margin: 10px 10px 10px 10px;
}
.level_5{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    width: 100px;
    height: 20px;
    opacity: 0.8;
    background: #461111;
    margin: 10px 10px 10px 10px;
}
.levUp span{
    color: gold;

}

.background_card img{
    position: relative;
    width: 100px;
    height: auto;
    top: 211px;
    left: 172px;
}

.display_none{
    display: none;
}

.button_start button{
    position: relative;
    width: 150px;
    height: 50px;
    color: red;
    background-color: #eeff00;
    left: 10px;
    top: 180px;
}
.conteiner{
    position: relative;
    left: 161px;
    top: -162px;
}

.conteiner_for_stage{
    display: flex;
    justify-content: center;
}

.conteiner_for_card{ 
    display: flex;
}
.first-green-point{
    margin: 10px;
    background-color: green;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.first-blue-point{
    margin: 10px;
    background-color: blue;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.first-red-point{
    margin: 10px;
    background-color: red;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.second-green-point{
    margin: 10px;
    background-color: green;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.second-blue-point{
    margin: 10px;
    background-color: blue;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.second-red-point{
    margin: 10px;
    background-color: red;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.third-green-point{
    margin: 10px;
    background-color: green;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.third-blue-point{
    margin: 10px;
    background-color: blue;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}
.third-red-point{
    margin: 10px;
    background-color: red;
    border: 0px solid;
    border-radius: 10px;
    width: 20px;
    text-align: center;
}






.new_col{
    position: relative;
    left: 171px;
    
    
    
}


.active_level{
    background-color: #eeff00;
    opacity: 1;   
}
